body {
  background-color: hsl(30deg, 38%, 92%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: auto;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 10px;
}
.card .left {
  width: 300px;
  height: 450px;
}
.card .right {
  width: 300px;
  height: 450px;
  margin-left: 30px;
}
.card .right .title {
  color: hsl(228deg, 12%, 48%);
  margin-top: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 400;
  margin-left: -36px;
  transform: scale(0.8);
}
.card .right .header {
  transform: scale(0.8);
  font-family: "Fraunces", serif;
  font-size: 2.4rem;
  margin-left: -32px;
  width: 260px;
  margin-bottom: 20px;
  line-height: 1;
}
.card .right .sub-text {
  color: hsl(228deg, 12%, 48%);
  width: 246px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.card .right .price {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.card .right .current-price {
  color: hsl(158deg, 36%, 37%);
  font-weight: 700;
  font-size: 2rem;
  font-family: "Fraunces", serif;
  display: inline;
}
.card .right .old-price {
  display: inline;
  margin-left: 20px;
  color: hsl(228deg, 12%, 48%);
  text-decoration: line-through;
}
.card .right .button {
  font-family: "Montserrat", sans-serif;
  background-color: hsl(158deg, 36%, 37%);
  border: 0;
  padding: 15px 65px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
}
.card .right .button:hover {
  background-color: #244c3d;
}
.card .right .button .cart-icon {
  margin-top: 15px;
  position: relative;
  top: 3px;
  margin-right: 5px;
}
@media (max-width: 640px) {
  .card {
    flex-direction: column;
    transform: scale(0.6);
  }
  .card .left {
    background-image: url(../images/image-product-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    border-radius: 15px 15px 0 0;
  }
  .card .right {
    height: 589px;
    position: relative;
    left: -15px;
  }
  .card .right .title {
    transform: scale(1.5);
  }
  .card .right .header {
    transform: scale(1.5);
    font-size: 2.4rem;
    width: 360px;
    position: relative;
    top: 25px;
    line-height: 1;
  }
  .card .right .sub-text {
    color: hsl(228deg, 12%, 48%);
    width: 296px;
    transform: scale(1.8);
    position: relative;
    top: 72px;
    margin-bottom: 20px;
  }
  .card .right .price {
    position: relative;
    top: 128px;
    transform: scale(2);
    left: 32px;
  }
  .card .right .button {
    position: relative;
    top: 168px;
    display: flex;
    align-items: center;
    transform: scale(1.8);
    padding: 15px 85px;
  }
  .card .right .button span {
    font-size: 1rem;
  }
  .card .right .button .cart-icon {
    margin-top: 0;
    position: relative;
    transform: scale(1.1);
    top: -1px;
    margin-right: 15px;
  }
}
@media (min-width: 640px) {
  .card .left {
    background-image: url(../images/image-product-desktop.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}/*# sourceMappingURL=style.css.map */