* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}
* a {
  text-decoration: none;
}

.wrapper {
  margin: 64px;
}
.wrapper .menu__wrapper {
  display: none;
}
@media (max-width: 1290px) {
  .wrapper {
    margin: 45px;
  }
  .wrapper .menu__wrapper {
    display: none;
  }
  .wrapper .navbar .menu {
    display: none;
  }
  .wrapper .main {
    display: flex;
    flex-direction: column;
  }
  .wrapper .main .trends {
    margin-top: 24px;
    margin-left: 0 !important;
  }
  .wrapper .main .trends .trends__wrapper {
    display: flex;
  }
  .wrapper .main .trends .trends__wrapper .box {
    margin-right: 24px;
    width: 540px;
  }
  .wrapper .main .trends .trends__wrapper .box:not(:nth-child(1)) {
    margin-left: 24px;
  }
}
@media (max-width: 1180px) {
  .wrapper .hotnews .wrapper img {
    width: 23%;
  }
  .wrapper .hotnews .wrapper .wrapper__info .info {
    width: 220px;
  }
}
@media (max-width: 1180px) and (max-width: 1034px) {
  .wrapper .hotnews {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .wrapper .hotnews .wrapper .wrapper__info .number {
    font-size: 4rem;
  }
  .wrapper .hotnews .wrapper .wrapper__info .header {
    font-size: 3rem;
  }
  .wrapper .hotnews .wrapper .wrapper__info .info {
    font-size: 1rem;
    width: 100%;
  }
}
@media (max-width: 640px) {
  .wrapper {
    margin: 24px;
  }
  .wrapper .menu__wrapper .menu__card {
    z-index: 2;
    position: fixed;
    right: 0;
    top: 0;
    width: 70%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  .wrapper .menu__wrapper .menu__card img {
    width: 34px;
    position: absolute;
    right: 0;
    margin: 24px;
    top: 0;
  }
  .wrapper .menu__wrapper .menu__card .links {
    margin-top: 178px;
    margin-left: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
  }
  .wrapper .menu__wrapper .menu__card .links a {
    font-size: 1.5rem;
    color: hsl(240deg, 100%, 5%);
  }
  .wrapper .menu__wrapper .backdrop {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.468);
  }
  .wrapper .navbar {
    display: flex;
    justify-content: center;
  }
  .wrapper .navbar .links {
    display: none;
  }
  .wrapper .navbar .menu {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .wrapper .main {
    display: flex;
    flex-direction: column;
  }
  .wrapper .main .spotlight .spotlight__wrapper {
    display: flex;
    flex-direction: column;
  }
  .wrapper .main .spotlight .spotlight__wrapper h1 {
    font-size: 2.5rem;
    width: 260px;
  }
  .wrapper .main .spotlight .spotlight__wrapper .spotlight__wrapper--info {
    margin-top: 10px;
    width: 340px;
  }
  .wrapper .main .trends {
    margin-top: 5rem;
    padding-bottom: 10px !important;
  }
  .wrapper .main .trends .trends__wrapper {
    display: block;
  }
  .wrapper .main .trends .trends__wrapper .box {
    width: 290px;
  }
  .wrapper .main .trends .trends__wrapper .box h3 {
    font-size: 1.3rem;
  }
  .wrapper .main .trends .trends__wrapper .box:not(:nth-child(1)) {
    margin-left: 0;
  }
  .wrapper .hotnews {
    display: flex;
    flex-direction: column;
    gap: 45px;
  }
  .wrapper .hotnews .wrapper__info .number {
    font-size: 2rem !important;
  }
  .wrapper .hotnews .wrapper__info .header {
    font-size: 1rem !important;
  }
}
.wrapper .navbar {
  display: flex;
  justify-content: space-between;
}
.wrapper .navbar .links a {
  margin-left: 24px;
  color: hsl(240deg, 100%, 5%);
}
.wrapper .navbar .menu {
  display: none;
}
.wrapper .main {
  margin-top: 24px;
  display: flex;
}
.wrapper .main .spotlight {
  flex-grow: 2;
}
.wrapper .main .spotlight__wrapper {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
.wrapper .main .spotlight__wrapper h1 {
  font-size: 3.5rem;
  width: 350px;
  font-weight: 800;
}
.wrapper .main .spotlight__wrapper--info {
  width: 400px;
}
.wrapper .main .spotlight__wrapper--info p {
  line-height: 1.5;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}
.wrapper .main .spotlight__wrapper--info a {
  background-color: hsl(5deg, 85%, 63%);
  color: hsl(36deg, 100%, 99%);
  padding: 15px 34px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.wrapper .main .trends {
  flex-grow: 1;
  margin-left: 45px;
  background-color: hsl(240deg, 100%, 5%);
  padding: 24px;
}
.wrapper .main .trends h2 {
  color: hsl(35deg, 77%, 62%);
  font-size: 3rem;
}
.wrapper .main .trends h3 {
  font-size: 1.5rem;
  color: hsl(36deg, 100%, 99%);
  margin-top: 24px;
}
.wrapper .main .trends p {
  color: hsl(233deg, 8%, 79%);
  margin: 12px 0 24px 0;
  line-height: 1.7;
}
.wrapper .hotnews {
  margin-top: 4rem;
  display: flex;
}
.wrapper .hotnews .wrapper {
  display: flex;
  margin: 0;
}
.wrapper .hotnews .wrapper__info {
  display: block;
  margin: 0 24px;
}
.wrapper .hotnews .wrapper__info .number {
  font-size: 2.5rem;
  color: hsl(233deg, 8%, 79%);
  font-weight: 700;
}
.wrapper .hotnews .wrapper__info .header {
  margin-top: 1rem;
  font-weight: 800;
}
.wrapper .hotnews .wrapper__info .info {
  margin-top: 1rem;
  width: 230px;
  color: hsl(236deg, 13%, 42%);
  line-height: 1.5;
}

/*# sourceMappingURL=style.css.map */
